<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <thead>
    <form th:method="GET" th:action="@{/create}">
        <input type="submit" value="New user">
    </form>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <form th:method="GET" th:action="@{/{id}/update(id=${user.getId()})}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>